@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(210 25% 7.8431%);
  --card: hsl(180 6.6667% 97.0588%);
  --card-foreground: hsl(210 25% 7.8431%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(207 90% 54%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 11% 15%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 1.9608% 90%);
  --muted-foreground: hsl(210 25% 7.8431%);
  --accent: hsl(122 39% 49%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(4 86% 58%);
  --destructive-foreground: hsl(0 0% 100%);
  --warning: hsl(36 100% 50%);
  --warning-foreground: hsl(0 0% 100%);
  --border: hsl(201.4286 30.4348% 90.9804%);
  --input: hsl(200 23.0769% 97.451%);
  --ring: hsl(207 90% 54%);
  --neutral: hsl(210 17% 96%);
  --chart-1: hsl(207 90% 54%);
  --chart-2: hsl(122 39% 49%);
  --chart-3: hsl(36 100% 50%);
  --chart-4: hsl(268 83% 58%);
  --chart-5: hsl(341.4894 75.2% 50.9804%);
  --sidebar: hsl(180 6.6667% 97.0588%);
  --sidebar-foreground: hsl(210 25% 7.8431%);
  --sidebar-primary: hsl(207 90% 54%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(211.5789 51.3514% 92.7451%);
  --sidebar-accent-foreground: hsl(207 90% 54%);
  --sidebar-border: hsl(205 25% 90.5882%);
  --sidebar-ring: hsl(207 90% 54%);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --radius: 0.5rem;
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 6.6667% 91.1765%);
  --card: hsl(228 9.8039% 10%);
  --card-foreground: hsl(0 0% 85.098%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 6.6667% 91.1765%);
  --primary: hsl(207 90% 54%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 11% 15%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(0 0% 9.4118%);
  --muted-foreground: hsl(210 3.3898% 46.2745%);
  --accent: hsl(122 39% 49%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(4 86% 58%);
  --destructive-foreground: hsl(0 0% 100%);
  --warning: hsl(36 100% 50%);
  --warning-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.902%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(207 90% 54%);
  --neutral: hsl(210 17% 96%);
  --sidebar: hsl(228 9.8039% 10%);
  --sidebar-foreground: hsl(0 0% 85.098%);
  --sidebar-primary: hsl(207 90% 54%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(205.7143 70% 7.8431%);
  --sidebar-accent-foreground: hsl(207 90% 54%);
  --sidebar-border: hsl(205.7143 15.7895% 26.0784%);
  --sidebar-ring: hsl(207 90% 54%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-gray-50 font-sans antialiased text-foreground;
  }

  h1 {
    @apply font-bold text-gray-900;
  }

  h2 {
    @apply font-semibold text-gray-800;
  }

  h3 {
    @apply font-medium text-gray-700;
  }

  p {
    @apply text-gray-600;
  }
}

@layer utilities {
  .font-mono {
    font-family: var(--font-mono);
  }
}
